<!DOCTYPE html>
<html>
  <head>
    <title>Answer</title>
  </head>

  <body>
  <h3>Stupid Coaching </h3>
  <div>
    <div><%= @ask %></div>
    <div>-You</div>
    <div class="banner">
      <%= @answer %>
      <div>-Coach</div>
    </div>

    <br />
    <div><%= link_to 'Ask a new question', ask_path %></div>
  </div>
  </body>
</html>
