<!DOCTYPE html>
<html>
  <head>
    <title>Answer</title>
  </head>

  <body>
  <h3>Stupid Coaching </h3>
    <form action="/answer">
      <input type="text" name="question">
      <input type="submit" value="Ask">
    </form>
  </body>
</html>
